
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<table style="width:100%;height:50px;border:1px solid#000000; text-align:center;background-color:lightslategrey;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;border-radius:20px">
    <tr>
        <td>
            copy right 2023
        </td>
    </tr>
</table>